section{
    font: Manrope;
    padding: 0;
    margin: 0;
    .aboutUs{
        width: 100%;
        background: linear-gradient(101.23deg, #111D55 55.61%, #111d5500 99.24%);
        width: 100%;
        color: #FCFCFC;
        h1{
            font-size: 56px;
            font-weight: 700;
        }
        p{
            font-family: Manrope;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            margin: 70px 0px; 
        }
        .col-lg-7.image{
            text-align: end;
        }
        img{
            width: 70%;
            height: 35rem;
            border-radius: 1.5%;
            margin: 50px 0px;
            text-align: right;
        }
    }

    .ourTeam{
        .firstDiv{
            text-align: center;
            padding: 5rem 0px;
            padding-bottom: 0;
            
            .imageAndDescription{
                img{
                    width: 8rem;
                    height: 8rem;
                    margin-bottom: 5px;
                }
                p{
                    color: #3B3B3B;
                    text-align: center;
                }
            }
        }
        .secondDiv{
            h1{
                color: #2B48D5;
                font-family: 'Manrope';
                font-size: 50px;
                font-weight: 700;
                line-height: 60px;
                letter-spacing: 0em;
                text-align: left;

            }
            p{
                color: #3B3B3B;
                font-family: 'Manrope';
                font-size: 26px;
                line-height: 30px;
            }
        }


        .images{
            width: 100%;
            .teamMembers{
                color: #141414;
                text-align: center;
                margin: 30px 0px;
                img{
                    width: 10rem;
                    height: 10rem;
                    border: 10px solid #D6DDFF;
                    border-radius: 100%;
                    margin-bottom: 5px;
                }
                p{
                    color: #141414;
                    padding: 0;
                    margin: 0;
                }
            }
        }
    }

    .ourCustomers{
        background: #F4F4F4;
        padding: 10px 0px;
        font-family: 'Manrope';
        h2{
            color: #2B48D5;
            font-size: 50px;
            font-weight: 700;
            line-height: 84px;
            padding: 1px 0px;
        }
        p{
            color: #3B3B3B;
            font-size: 26px;
            line-height: 30px;
        }
        img{
            // padding: 5px 0px;
            margin: 30px 0px;
            width: 5rem;
            height: 5rem;
        }
    }

}

// for very small devices
@media screen and (max-width: 997px){
    section{
        .aboutUs{
            .col-lg-7.image{
                text-align: center;
            }
            img{
                width: 100%;
            }
        }
    }
}
@media screen and (max-width: 600px) {
    section{
        .ourTeam{
            .firstDiv{
                .imageAndDescription{
                    img{
                        width: 5rem;
                        height: 5rem;
                    }
                }   
            }

            .secondDiv{
                h1{
                    font-size: 40px;
                    font-weight: 700;
                    line-height: 50px;
                }
                p{
                    font-size: 23px;
                }
            }

            .images{
                img{
                    width: 3rem;
                    height: 3rem;
                    border: 10px solid #D6DDFF;
                    border-radius: 100%;
                    margin-bottom: 5px;
                }
            }
        }
        
        .ourCustomers{
            h2{
                font-size: 40px;
            }
            p{
                font-size: 23px;
            }
            img{
                width: 3rem;
                height: 3rem;
            }
        }
    }
}

footer{
    background: #111D55;
    width: 100%;
    color: #F4F4F4;
    margin: 0;
    padding: 30px 0px;
    a{
        color: currentColor;
    }
    a:hover{
        color: currentColor;
    }
    h3{
        font-family: 'Manrope';
        font-size: 30px;
        font-weight: 700;
        line-height: 60px;
        letter-spacing: 0em;
        text-align: left;

    }
    .firstFooter{
        margin-bottom: 20px;
        li{
            margin: 1.2rem 0px;
        }
    }
    .secondFooter{
        padding: 1.3rem 0px;
        .row{
            margin: 0%;
            
            img{
                width: 15rem;
                height: 2.5rem;
                margin: 15px;
            }
            .footerList{
                text-align: right;
                li{
                    display: inline-flex;
                    margin: 0px 10px;
                }
            }
        }
    }
}

@media screen and (max-width: 998px) {
    footer{
        .secondFooter{
            text-align: center;
            .footerList{
                ul{
                padding: 10px 0px;
                    text-align: center;
                }
            }
        }
    }
    
}
