section {
  font: Manrope;
  padding: 0;
  margin: 0;
}
section .aboutUs {
  width: 100%;
  background: linear-gradient(101.23deg, #111D55 55.61%, rgba(17, 29, 85, 0) 99.24%);
  width: 100%;
  color: #FCFCFC;
}
section .aboutUs h1 {
  font-size: 56px;
  font-weight: 700;
}
section .aboutUs p {
  font-family: Manrope;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  margin: 70px 0px;
}
section .aboutUs .col-lg-7.image {
  text-align: end;
}
section .aboutUs img {
  width: 70%;
  height: 35rem;
  border-radius: 1.5%;
  margin: 50px 0px;
  text-align: right;
}
section .ourTeam .firstDiv {
  text-align: center;
  padding: 5rem 0px;
  padding-bottom: 0;
}
section .ourTeam .firstDiv .imageAndDescription img {
  width: 8rem;
  height: 8rem;
  margin-bottom: 5px;
}
section .ourTeam .firstDiv .imageAndDescription p {
  color: #3B3B3B;
  text-align: center;
}
section .ourTeam .secondDiv h1 {
  color: #2B48D5;
  font-family: "Manrope";
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
section .ourTeam .secondDiv p {
  color: #3B3B3B;
  font-family: "Manrope";
  font-size: 26px;
  line-height: 30px;
}
section .ourTeam .images {
  width: 100%;
}
section .ourTeam .images .teamMembers {
  color: #141414;
  text-align: center;
  margin: 30px 0px;
}
section .ourTeam .images .teamMembers img {
  width: 10rem;
  height: 10rem;
  border: 10px solid #D6DDFF;
  border-radius: 100%;
  margin-bottom: 5px;
}
section .ourTeam .images .teamMembers p {
  color: #141414;
  padding: 0;
  margin: 0;
}
section .ourCustomers {
  background: #F4F4F4;
  padding: 10px 0px;
  font-family: "Manrope";
}
section .ourCustomers h2 {
  color: #2B48D5;
  font-size: 50px;
  font-weight: 700;
  line-height: 84px;
  padding: 1px 0px;
}
section .ourCustomers p {
  color: #3B3B3B;
  font-size: 26px;
  line-height: 30px;
}
section .ourCustomers img {
  margin: 30px 0px;
  width: 5rem;
  height: 5rem;
}

@media screen and (max-width: 997px) {
  section .aboutUs .col-lg-7.image {
    text-align: center;
  }
  section .aboutUs img {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  section .ourTeam .firstDiv .imageAndDescription img {
    width: 5rem;
    height: 5rem;
  }
  section .ourTeam .secondDiv h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50px;
  }
  section .ourTeam .secondDiv p {
    font-size: 23px;
  }
  section .ourTeam .images img {
    width: 3rem;
    height: 3rem;
    border: 10px solid #D6DDFF;
    border-radius: 100%;
    margin-bottom: 5px;
  }
  section .ourCustomers h2 {
    font-size: 40px;
  }
  section .ourCustomers p {
    font-size: 23px;
  }
  section .ourCustomers img {
    width: 3rem;
    height: 3rem;
  }
}
footer {
  background: #111D55;
  width: 100%;
  color: #F4F4F4;
  margin: 0;
  padding: 30px 0px;
}
footer a {
  color: currentColor;
}
footer a:hover {
  color: currentColor;
}
footer h3 {
  font-family: "Manrope";
  font-size: 30px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0em;
  text-align: left;
}
footer .firstFooter {
  margin-bottom: 20px;
}
footer .firstFooter li {
  margin: 1.2rem 0px;
}
footer .secondFooter {
  padding: 1.3rem 0px;
}
footer .secondFooter .row {
  margin: 0%;
}
footer .secondFooter .row img {
  width: 15rem;
  height: 2.5rem;
  margin: 15px;
}
footer .secondFooter .row .footerList {
  text-align: right;
}
footer .secondFooter .row .footerList li {
  display: inline-flex;
  margin: 0px 10px;
}

@media screen and (min-width: 778px) {
  footer .col-md-6:nth-child(even) {
    text-align: right;
  }
  footer .col-md-6:nth-child(even) h3 {
    text-align: right;
  }
}
@media screen and (min-width: 992px) {
  footer .col-md-6:nth-child(even) {
    text-align: left;
  }
  footer .col-md-6:nth-child(even) h3 {
    text-align: left;
  }
}
@media screen and (max-width: 998px) {
  footer .secondFooter {
    text-align: center;
  }
  footer .secondFooter .footerList ul {
    padding: 10px 0px;
    text-align: center;
  }
}
section {
  padding: 0;
  margin: 0;
}
section .example .secondDiv {
  background: #FCFCFC;
  padding: 20px 0px 50px 0px;
}
section .example .thirdDiv {
  padding: 20px 0px 50px 0px;
}
section .example .fourthDiv {
  background: #F1F1F1;
  padding: 20px 0px 50px 0px;
  width: 100%;
}
section .example .fourthDiv .container {
  margin-top: 50px;
}
section .example .fourthDiv .container .codes {
  background: #141414;
  color: #FCFCFC;
  padding: 7% 20%;
}
section .example .fifthDiv .something {
  border-bottom: 20px;
  border-bottom: 2px solid red;
  padding: 0rem 5rem;
}
section .example .fifthDiv .something h3 {
  margin-bottom: 0;
}
section .example .fifthDiv .something img {
  border-radius: 100%;
  width: 5rem;
  height: 3rem;
  display: flex;
}
section .example .fifthDiv .something p {
  line-height: 3rem;
  font-family: "Manrope";
  font-size: 23px;
  font-weight: 200;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px 6rem;
}
section .lastBtn {
  border: none;
  text-align: center;
  width: 100%;
  height: 2.5rem;
  margin-top: 28%;
}/*# sourceMappingURL=comapny.css.map */