* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 21.2% 1fr;
    height: 100%;
    overflow: hidden;
}

/**************************************/
/*~ HIDE CLASS */
/**************************************/

.hidden {
    display: none;
}

/**************************************/
/*& HEADINGS */
/**************************************/

.heading-primary {
    font-size: 3rem;
}

.heading-secondary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

/**************************************/
/*? NAVIGATION BAR */
/**************************************/

.sidebar {
    position: relative;
    background-color: #111D55;
    color: #fcfcfc;
    padding: 0 2.4rem 8rem;
    border-right: 1px solid #fcfcfc;
    height: 100%;
    overflow-y: auto;
}

.logo {
    margin-left: 0.2rem;
    margin-top: 2rem;
    width: 75%;
}

.main-nav {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 18rem;
}

.top-nav {
    margin-top: 4.4rem;
}

.main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 7.2rem;
    list-style: none;
}

.main-nav-link:link, 
.main-nav-link:visited{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: #fcfcfc;
    transition: all 0.4s;
}

.main-nav-link:hover, 
.main-nav-link:active{
    background-color: #fcfcfc;
    color: #040404;
    border-radius: 4px;
}

.main-nav-link:hover .main-nav-icon, 
.main-nav-link:active .main-nav-icon{
    color: #111D55;
}


/**************************************/
/*~ MAIN BODY */
/**************************************/
.main-body {
    overflow-y: auto;
}

/**************************************/
/*! HEADER */
/**************************************/

.header {
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 4.8rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.menu-icon {
    font-size: 3rem;
    display: none;
}

.mobile-logo {
    display: none;
    width: 40%;
}

.search-input-filter {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-box {
    position: relative;
    flex: 1;
}

.ph-sliders {
    font-size: 3.6rem;
    cursor: pointer;
    transition: all 0.4s;
}

.ph-sliders:hover {
    color: #111D55;
}

.ph-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);
    color: #000;
    font-size: 2.1rem;
    cursor: pointer;
}

.search-input {
    height: 4.8rem;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #141414;;
    padding-left: 5.5rem;
    position: relative;
    font-size: 2rem;
}

.search-input:focus {
    outline: none;
    border: 1px solid #111D55;
}

::placeholder {
    color: #A99F9C;
    font-size: 2.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.ph-bell {
    font-size: 3.6rem;
    cursor: pointer;
    transition: all 0.4s;
}

.ph-bell:hover {
    color: #111D55;
}

.profile {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.profile-picture {
    border-radius: 100%;
    width: 6.7rem;
}

.profile-name {
    font-size: 2.2rem;
}


/**************************************/
/*~ WELCOME SECTION */
/**************************************/

.welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 4rem;
    background: linear-gradient(95.7deg, #111D55 37.36%, rgba(17, 29, 85, 0.5) 85.16%);
    padding: 3.6rem 6.4rem 4.8rem;
    color: #fcfcfc;
}

.welcome-description p {
    font-size: 2.2rem;
    line-height: 1.8;
}

.welcome-description h2 {
    /* margin-top: 6.8rem; */
    line-height: 1.4;
}

.welcome-img {
    width: 100%;
    border-radius: 8px;
}

/**************************************/
/*^ INFORMATION SECTION*/
/**************************************/

.search-box.mobile {
    display: none;
}

.information-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10rem;
    align-items: center;
    padding: 10rem 18rem;
}

.information-section p{
    font-size: 2.2rem;
    line-height: 1.6;
}

.loud-speaker {
    width: 100%;
}

.no-info {
    display: block;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}

/**************************************/
/*! FOOTER */
/**************************************/
.footer {
    background-color: #111D55;
    color: #fcfcfc;
    padding: 3.6rem 6.4rem 1.6rem;
    font-size: 1.5rem;
}

.footer-logo {
    width: 20%;
}

.copyright-container {
    margin-top: 2.6rem;
    display: flex;
    justify-content: space-between;
}

.privacy-terms {
    display: flex;
    gap: 0.8rem;
}

.privacy-terms-link:link,
.privacy-terms-link:visited {
    color: #fcfcfc;
    text-decoration: none;
}

.privacy-terms-link:hover,
.privacy-terms-link:active {
    text-decoration: underline;
}
.reserved-mobile {
    display: none;
}

/**************************************/
/*~ RESPONSIVE LAYOUTS */
/**************************************/

@media (max-width: 76.25em) {
    .heading-primary {
        font-size: 2.8rem;
    }

    .heading-secondary {
        font-size: 3.2rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    .sidebar {
        padding: 0 2rem;
    }

    .profile-picture {
        width: 5.2rem;
    }

    .profile-name {
        font-size: 2rem;
    }

    .main-nav-link:link, 
    .main-nav-link:visited {
        font-size: 1.8rem; 
    }

    .welcome-description p,
    .information-section p {
        font-size: 2rem;
        line-height: 1.6;
    }

    .information-section {
        padding: 8rem 14rem;
    }

    .no-info {
        font-size: 3rem;
    }
}

@media (max-width: 70em) {
    .heading-secondary {
        font-size: 2.8rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    .ph-sliders,
    .ph-bell {
        font-size: 2.8rem;
    }

    .sidebar {
        padding: 0 1.6rem;
    }

    .main-nav-link:link, 
    .main-nav-link:visited {
        font-size: 1.6rem; 
    }

    .welcome-description p,
    .information-section p {
        font-size: 1.8rem;
        line-height: 1.4;
    }

    .information-section {
        padding: 6rem 12rem;
    }

    .search-input {
        height: 4.2rem;
        font-size: 1.6rem;
    }

    ::placeholder {
        font-size: 1.4rem;
    }

    .no-info {
        font-size: 2.6rem;
    }
}


@media (max-width: 62.5em) {
    .heading-secondary {
        font-size: 2.6rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    .ph-sliders,
    .ph-bell  {
        font-size: 2.6rem;
    }

    .sidebar {
        padding: 0 1rem;
    }

    .welcome-description p,
    .information-section p {
        font-size: 1.7rem;
        line-height: 1.6;
    }

    .information-section {
        padding: 4rem 10rem;
    }

    .no-info {
        font-size: 2.4 rem;
    }
}


@media (max-width: 59.375em) {
    .heading-secondary {
        font-size: 2.2rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    .main-nav-link:link, 
    .main-nav-link:visited {
        font-size: 1.2rem; 
    }

    .welcome-description p,
    .information-section p {
        font-size: 1.4rem;
        line-height: 1.6;
    }

    .information-section {
        padding: 2.5rem 8rem;
    }

    .search-input {
        height: 4rem;
        font-size: 1.4rem;
    }

    ::placeholder {
        font-size: 1.2rem;
    }

    .no-info {
        font-size: 2rem;
    }

    .footer {
        font-size: 1.2rem;
    }

    .footer-logo {
        width: 25%;
    }
}

@media (max-width: 48em) {
    body {
        display: block;
    }

    .heading-secondary {
        font-size: 2.8rem;
        line-height: 1.2;
        margin-bottom: 1.6rem;
    }

    .sidebar {
        display: none;
        height: 100vh;
        padding: 3rem;   
    }

    .main-nav-link:link, 
    .main-nav-link:visited{
        font-size: 2rem;
    }

    .main-nav-list {
        gap: 4rem;
        justify-content: space-between;
    }

    .bottom-nav {
        margin-top: 4rem;
        position: static;
        justify-content: space-between;
    }

    .logo {
        width: 40%;
        margin-top: 0;
    }
    
    .logo-menu-container {
        display: flex;
        align-items: center;
        gap: 12rem;
    }

    .menu-icon {
        display: block;
        cursor: pointer;
        margin-top: 0;
    }

    .menu-header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-logo {
        display: block;
    }

    .search-box.non-mobile {
        display: none;
    }

    .profile-picture,
    .profile-name {
        display: none;
    }

    .ph-bell {
        font-size: 3.4rem;
    }

    .welcome-section {
        grid-template-columns: 1fr;
    }

    .welcome-description p,
    .information-section p {
        font-size: 2rem;
        line-height: 1.4;
    }

    .search-box.non-mobile {
        display: none;
    }

    .search-box.mobile {
        display: block;
    }
    
    .search-input {
        height: 4.8rem;
        font-size: 1.6rem;
        width: 100%;
    }

    ::placeholder {
        font-size: 1.4rem;
    }

    .search-input-filter {
        justify-content: space-between;
    }

    .information-section {
        grid-template-columns: 1fr;
        text-align: center;
        row-gap: 9rem;
        padding: 1.2rem 3rem 4.8rem;
        margin-top: 1.6rem;
    }

    .loud-speaker {
        width: 50%;
    }

    .reserved-non-mobile {
        display: none;
    }

    .reserved-mobile {
        display: block;
    }

    .mobile-copyright-container {
        display: flex;
        justify-content: space-between;
        margin-top: 1.2rem;
    }

    .copyright-container {
        display: block;
    }

    .footer-logo {
        width: 30%;
    }

@media (max-width: 30em) {
    .main-nav-link:link, 
    .main-nav-link:visited{
        font-size: 2.2rem;
    }

    .header {
        padding-left: 2.4rem;
        padding-right: 2.4rem;        
    }

    .mobile-logo {
        width: 50%;
    }

    .welcome-section {
        padding-left: 2.4rem;
        padding-right: 2.4rem;
    }

    .footer {
        font-size: 0.8rem;
    }

    .footer-logo {
        width: 40%;
    }
}

@media (max-width: 21.25em) {
    ::placeholder {
        font-size: 1.2rem;
    }    
}
}

    





