
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    
}

section{
    display: flex;

}

.left{
 background: url('./assets/images/forgot_password/Pattern.png');
 background-repeat: no-repeat;
 background-size:cover;
 background-position: left;
 height: 100vh;
 position: relative;
 flex: 1.5;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: #fff;
 font-family: 'Manrope', sans-serif;
}

.left >h2{
    font-weight: 700;
    font-size: 2rem;
    line-height: 58px;
    padding: 0 5rem;
}

.left> p{
font-weight: 400;
font-size: 1.3rem;
line-height: 34px;
text-align: center;
margin-top: 5px;
padding: 0 2rem;
}

/* .left>p:nth-child(1){
    margin-top: 0;
    padding: 0;
} */

.logo{
    width: 246px;
    margin-bottom: 30vh;
}

.right{
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F5F5F5;
}

.right >img{
    display: none;
}

.container{
    background-color: #fff;
    width: 40vw;
    height: 80vh;
    top: 20px; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10vh;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.close{
    display: flex;
    width: 22px;
    height: 22px;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 2rem;
    cursor: pointer;
   
    transition: transform 1s;
    /* font-weight: 300; */
    /* align-items: flex-end; */
    /* margin-left: 100px; */
    /* justify-content: end; */
}

.back{
    display: flex;
    width: 22px;
    height: 22px;
    align-self: flex-start;
    margin-left: 2rem;
    margin-top: 2rem;
    cursor: pointer;
    transition: transform 1s;
}

.close:hover{
    transform: scale(1.10);
}

.back:hover{
    transform: scale(1.10);
}

.container >a{
    text-decoration: none;
    color: #000;
}

i{
    -webkit-text-stroke: 4px white;
}

.lock{
    width: 4rem;
    margin: auto;
    margin-top: 2rem;
    display: flex;
}

.h2{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 2rem;
line-height: 55px; 
color: #141414;
margin-bottom: 5px;
display: flex;
align-self: center;
}

.h2 + p{
   display: none;
 
}

.back__container >h3{
    display: none;
   }

.container >p{
    color: #141414;
}
.container >p >a{
    text-decoration: none;
    color: #3991FF;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 5rem;
    /* margin-top: 2rem; */
}

.form >label{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #523F38;
margin: 2px;
margin-bottom: 10px;
margin-top: 15px;
}

.form >input{
    padding: 12px;
    border: 1px solid #858484;
    border-radius: 8px;
    outline: none;
}
.form >input::placeholder{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    color: rgba(58, 58, 58, 0.5);
}

.form >button > a{
    text-decoration: none;
    color: white;
}

.h2{
    font-weight: 800;
    font-size: 1.7rem;
    color: #141414;
    display: flex;
    align-self: center;
    }
    
    .h2 + p{
        display: block;
        padding: 0 2.5rem;
        align-self: center;
        text-align: center;
        color: #3B3B3B;
        margin-top: 15px;
      
    }

button >a{
    text-decoration: none;
    color: white;
}

button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 12px 16px;
gap: 4px;
background: #3456FF;
border: none;
border-radius: 8px;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 20px;
text-align: center;
color: #FCFCFC;
margin-top: 2rem;
cursor: pointer;
transition: transform 1s;
}

button:hover{
    background: #5672FF;
    transform: scale(1.002);
}

/* ////////////////////SECOND PAGE/////////////////////////////// */
.container >p{
    align-self: center;
}

.btn{
    margin: 2.5rem 7rem;
}

.dots{
    display: none;
}


@media screen and (max-width : 500px) {

    body{
        overflow-y:scroll;
        
    }

   .left{
    display: none;
   }


   .right{
    background-color: #fff;
   }

   .right >img{
    width: 150px;
    display: block;
    margin-bottom: 0vh;
    background-color: #fff;
    margin-top: 30px;
   }

   .back__container >a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #000;
   }

   .back__container{
    display: flex;
    padding-top: 1rem;
    justify-content: flex-start;
    align-items: center;
    position: relative;
   }

   

   .back__container >h3{
    display: block;
    position: absolute;
    left: 15vw;
    top: 8.2vh;
    margin-left: 0.5rem;
    font-size: 16px;
   }

.container{
    width: 100vw;
}

.lock{
    width: 5rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
}



.container{
    margin-top: 0vh;
    box-shadow: none;
}



.form{
    justify-content: flex-start;
    padding: 0 2rem;
    margin-top: 2rem;
}

.btn{
    margin: 2.5rem 2rem;
}

.dots{
    display: flex;
    margin-top: 70px;
    width: 50vw;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
}

.dot{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 50px;
}

.dot__colored{
    background-color: #111D55;
}

.dot__uncolored{
    background-color: #F1F1F1;
}
}


   
