@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    font-size: 16px;
    padding-left: 5rem;
    padding-right: 5rem;
}
input[type = "search"]{
    width :100%;
    background: transparent;
    margin: 0;
    padding: 1rem 1rem;
    border: 1px solid #bbb;
    color: #555;
    border-radius: 5px ;
    background: transparent url("https://img.icons8.com/ios-glyphs/30/3B3B3B/search--v1.png") no-repeat left 13px;
    margin-bottom: 2rem;
}
input[type="search"]::placeholder{
    color:#bbb;
    padding-left: 20px; 
}
.resources_container{
    display: grid;
    grid-template-columns: 45% 45%;
    justify-self: start;
    align-self: start;
    column-gap: 5%;
    row-gap: 5%;
}
.resources_grid_1 img, .resources_grid_3 img, .resources_grid_4 img{
    width: 100%;
}

.resources_grid_2_title, .resources_grid_5_title, .resources_grid_6_title{
    font-weight: 400;
    font-size: 16px;
    color: #626262;
    line-height: 24px;
    margin-bottom: 2rem;
}
.resources_grid_2 h4, .resources_grid_5 h4,.resources_grid_6 h4{
    font-weight: 500;
    font-size: 40px;
    line-height: 60px;
    color: #111;
    margin-bottom: 1rem;
}
.resources_grid_2 a, .resources_grid_5 a, .resources_grid_6 a{
    font-weight: 700;
    font-size: 20px;
    height: 30px;
    margin-bottom: 1rem;
    color: #3456ff;
    text-decoration: none;
}

.resources_grid_2_p, .resources_grid_5_p, .resources_grid_6_p{
    font-size: 20px;
    line-height: 30px;
    color: #626262;
    font-weight: 400;
}

.img_container{
    display: flex;
    margin-top: 2rem;
    justify-self: end;

}
.img_container img{
    border-radius: 50%;
    margin-right: 2rem;
}
.img_container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #626262;
}
.img_container h6{
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #141414;
}
.subscribe{
    margin-top: 200px;
    background-color: #f1f1f1;
    text-align: center;
    position: relative;
    /* margin-top: 5%; */
}
.subscribe h4{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.subscribe input[type="email"]{
    border-radius: 8px;
    background-color: #fcfcfc;
    border: 2px solid #141414;
    width: 90%;
    justify-self: center;
    padding: 2rem 2rem;
    margin-bottom: 100px;
}
.subscribe input[type="email"]::placeholder{
    color: #898989;
    font-size: 32px;
    line-height: 48px;
}
.subscribe input[type="button"]{
    background-color: #3456ff;
    border-radius: 8px;
    padding: 8px 16px 8px 16px;
    border: none;
    font-weight: 800;
    font-size: 32px;
    line-height: 48px;
    color: #fcfcfc;
    cursor: pointer;
    transform: translateX(2px);
    position: absolute;
    z-index: 2;
    right: 7%;
    width: 20%;
    text-align: center;
    bottom: 110px;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80vw;
    margin: auto;
}
.left_help,.right_help{
    width: 45%;
}
.faq_card{
    background-color: #0a1133;
    color: #fcfcfc;
    border-radius: 10px;
    padding: 40px;
    margin-bottom: 5%;
}
.faq_card h6, .faq_card p{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;     
}
.faq_card h1{
    font-size: 56px;
    font-weight: 700;
    line-height: 84px;
}
.left_help label{
    font-weight: 700;
    font-size: 28px;
    line-height: 150%;
    color: #141414;
    margin-bottom: 5%;
    
}
.left_help button{
    border: 2px solid #141414;
    border-radius: 50%;
    float: right;
    width:  36px;
    height: 36px;
    background-color: #fcfcfc;
    font-size: 20px;
   
}
.left_help_items p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 5%;
    margin-bottom: 5%; 

}
hr{
    margin-bottom: 5%;
}

#help_more1,#help_more2, #help_more3, #help_more4, #help_more5{
    display: none;
}
.get_help{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 80%;
}
.lady_help{
    height:80vh;
    
}
.get_help h3{
    font-weight: 700;
    font-size: 56px;
    line-height: 84px;
    color: #141414;
}
.get_help h6{
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
    color: #3b3b3b;
}
.get_help img{
    width: 10rem;
}
@media screen and ( max-width:732px ) {
    main{
        /* display: block; */
        /* flex-direction: column; */
        /* margin: 0; */
        width: 100%;
    }
    .lady_help{
        height: 50vh;
    }
    .left_help,.right_help{
        width: 100%;
        /* padding: 0px; */
    }
    body{
        padding: 0;
        margin: 0;
    }
    
     .faq_card{
        border-radius: 0px;
    }
    .faq_card h6, .faq_card p, .get_help h6, .left_help label{
        font-size: 16px;
        line-height: 24px;
    }
    .faq_card h1{
        font-size: 48px;
        line-height: 72px;
    }
     .left_help_items{
        padding: 1rem;
    }
     .left_help button{
        width: 22.5px;
        height: 22.5px;
        font-size: 14px;
    }
    .left_help_items p{
        font-size: 14px;
        line-height: 24px;
    }
    .get_help h3{
        font-size: 32px;
        line-height: 48px;
    }
    .get_help{
        width: 100%;
        justify-content: space-around;
    }
    .get_help img{
        height: 100px;
        width: auto;

    }
    .resources_container{
        display: flex;
        width: 100%;
        flex-wrap: nowrap;
        flex-direction: column;
    }

    .resources_grid_2_title, .resources_grid_5_title, .resources_grid_6_title, .img_container p, .img_container h6{
        font-size: 16px;
        line-height: 24px;
    }
    .resources_grid_2 h4, .resources_grid_5 h4,.resources_grid_6 h4{
        font-size: 32px;
        line-height: 48px;
    }
    .resources_grid_2 a, .resources_grid_5 a, .resources_grid_6 a, .resources_grid_2_p, .resources_grid_5_p, .resources_grid_6_p{
        font-size: 16px;
        line-height: 24px;
    }
    .subscribe h4{
        font-size: 32px;
        line-height: 48px;
    }
    
    .subscribe input[type="email"]::placeholder{
        font-size: 16px;
        line-height: 24px;
    }
    .subscribe input[type="button"]{
        font-size: 16px;
        line-height: 24px;
        padding: 8px 12px 8px 12px;
        width: 30%;
    }

}