@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    /* overflow: hidden; */
    font-family: 'Manrope', sans-serif;
}


.nav{
    background-color: #111D55;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
   /* position: fixed; */
}

.nav__top{
  
    display: flex;
    flex-direction: column;
   /* margin-left: auto; */
    /* align-items: center; */
}

.nav__top >img{
    width: 12rem;
    align-self: center;
    margin: 5px 10px;
}

hr{
    width: 100%;
    margin-top: 10px;
}

.nav__links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
    
}

.nav__link{
    align-self:flex-start;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    margin-left: 2rem;
}


 .nav__link >.container{
    background-color: #fff;
    color: #040404;
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-content: flex-start;
    align-items: center;
    padding: 0 8rem 0 0.5rem;
    height: 50px;
    border-radius: 3px;
    margin: 0;
    margin-left: -1rem;
    cursor: pointer;
   
}

 .nav__link >.container > a>h3{
    font-weight: 400;
    color: #040404;
}
 .nav__link >.container >a{
    text-decoration: none;
    color: #000;
}
 .nav__link >.container >img{
    color: #000;
    margin-right: 1rem;
    /* -webkit-text-stroke: 0px transparent; */
}


.nav__link >i{
    color: #fff;
    margin-right: 1rem;
    /* -webkit-text-stroke: 0px transparent; */
}

.nav__link >img{
    margin-right: 2rem;
}

.nav__link >a{
    text-decoration: none;
    color: #fff;
   
}
.nav__link >a >h3{
    font-weight: 300;

 
}

.nav__bottom{
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.nav__mobile{
    display :none;
}

.content{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* margin-left:100px; */
}


/* /////////////////////////////////////////////////// */
.main{
    width: 90%;
    margin: 0 auto;
}

.content__one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.content__one >div>h2{
   color: #141414;
   font-weight: 700;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user >img{
    width: 1.5rem;
    margin-right: 1rem;
}
.user__container{
    background-color: #F1F1F1;
    padding: 0.5rem 1.5rem ;
    border-radius: 8px;
}

.user__img{
    background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size:cover;
}

.user__details{
    display: flex;
    flex-direction: column;
    background-color:  #F9F9F9;
}

.user__info{
    display: flex;
}

.user__info__left {
    flex: 1;
    margin-top: 30px;
}

.user__info__left>h3{
    margin-bottom: 9px;
}
.user__info__left>p{
    font-size: 15px;
    padding-right: 3rem;
}

form{
    margin-top: 30px;
}

.form__input{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.form__input >label{
  margin-left: 1px;
  margin-bottom: 3px;
}

.form__input >input{
    height: 40px;
    outline: none;
    border: 1px solid #523F38;
    border-radius: 4px;
}

.user__info__right{
    flex: 1;
    margin-left: 5rem;
}

.user__info__right >h3{
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn{
    width: 100%;
    padding: 10px 0;
    background-color: #3456FF;
    border: none;
    border-radius: 6px;
    color: #FCFCFC;
    /* font-weight: 600; */
font-size: 20px;
cursor: pointer;
}
.img__container{
    display: flex;
    justify-content: center;
    position: relative;
    /* width:200px; */
    /* padding: 0 50px; */
}

.inner__circle{
    position:absolute;
    top: 8rem;
    right: 9rem;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    cursor: pointer;
}

.inner__circle >.outer__circle{
    position:absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.inner__circle >.outer__circle > i{
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-text-stroke: 3px white;
}

.img{
    width: 15rem;
    /* height: 15rem; */
/* padding: 0 2rem; */
    /* border-radius: 40%; */
}
.img >img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}


.linked__accounts__header{
    margin-top: 70px;
}

.linked__accounts{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}

.linked__accounts__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linked__accounts__socials >img{
    margin-right: 1rem;
}

.social__button{
    font-family: 'Manrope';
    font-weight: 600;
    padding: 0 1rem;
    height: 30px;
    border: none;
    background: #FCFCFC;
    gap: 4px;
    border: 1px solid #D0D0D0;
border-radius: 4px;
color: #3456FF;
font-size: 14px;
text-align: center;
}


.download__history{
    margin-top: 60px;
    margin-bottom: 60px;
   
}

.download__history > h2{
    margin-bottom: 50px;
}

.search__history{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: ; */
}


.search__history__select{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
    padding: 0 1rem;
    height: 35px;
    border: none;
    background: #111D55;
border-radius: 4px;
color: #fff;
cursor: pointer;
}

.history__input__container{
   
  flex: 1;
  margin: 0  2rem;
  background: #FCFCFC;
  border: 1px solid #141414;
  display: flex;
  height: 40px;
  border-radius: 4px;
}

.history__input__container >img{
    width: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    cursor: pointer;
}

.search__history__input{
 width: 100%;
 border: none;
 outline: none;
}

.filters{
    height: 30px;
    cursor: pointer;
}

.auth__codes__history{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auth__code__lang{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 20rem;
    margin-top: 10px;

}

.auth__lang{
    background-color: #6F5F59;
    color: #fff;
    padding: 5px 1.5rem;
    border-radius: 3px;
}

.auth__date{
    background-color: #6F5F59;
    color: #fff;
    border-radius: 3px;
    padding: 5px 1rem;
}
.auth__date >img{
    width: 1rem;
}

.auth__code >h2{
    margin-bottom: 30px;
}

.auth__code__btn{
    padding: 1px 2rem;
    height: 30px;
    border: none;
    cursor: pointer;
    background-color: #3456FF;
    color: #fff;
    gap: 4px;
    border-radius: 4px;
}

.terms{
    margin-bottom: 30px;
}
.terms >h2{
    margin-bottom: 30px;
}
.terms >p{
    margin-bottom: 30px;
    text-align: justify;
}
.policy{
    margin-bottom: 30px;
}

.policy >h2{
    margin-bottom: 30px;
}
.policy >p{
    margin-bottom: 30px;
    text-align: justify;
}

.profile_photo_mobile{
    display:none;
}

.search_history_mobile{
    display:none;
}

@media (max-width:500px) {
   
    .nav__top >img{
        width: 9rem;
        align-self: center;
    }
}


@media screen and (max-width : 500px) {
 .nav{
    display:none;
 }

.user__info{
    flex-direction:column;
}

.profile_photo_mobile{
    display:block;
}

.profile_photo_desktop{
    display:none;
}

.search__history{
    display:none;
    /* flex-direction:column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:15px; */
}

.search_history_mobile{
    display:block;
    flex-direction:column;
    gap:10px;
    justify-content: flex-start;
    align-items: flex-start;
}
.input_mobile{
    display:flex;
    justify-content: center;
    align-items: center;
}

.auth__codes__history{
    flex-direction:column;
}

.content__one{
    display:none;
}

.img__container{
    align-items: flex-start;
    margin-bottom: 60px;
    margin-top: 20px;
}

.img{
    width: 12rem;
    margin:auto;
}
.img >img{
    border-radius: 100%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}

.inner__circle{
    position:absolute;
    top: 6rem;
    right: 5rem;
    /* padding:1rem; */
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.user__info__left>h3{
    margin-bottom: 9px;
}
.user__info__left>p{
    font-size: 15px;
    /* padding-right: 3rem; */
    margin: auto;
}

.form__input >input{
    height: 38px;
    width:80vw;
    border-radius: 4px;
}

.user__info__right{
    flex: 1;
    width:90vw;
    margin-left: 0.2rem;
}

.linked__accounts{
    /* display: flex; */
    justify-content: space-between;
    /* margin-top: 45px; */
    align-items: flex-start;
}

/* .linked__accounts__socials{ */
    /* display: flex; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */
/* } */

.btn{
    margin-top: 70px;
}

.history__input__container{
   
  flex: 1;
  margin: 0.8rem  0.1rem;
 
}

.auth__code__lang{
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    margin-bottom:20px;
    /* align-items: center;
    width: 20rem;
    margin-top: 10px; */

}

.auth__code__btn{
    padding: 5px 2rem;
    height: 40px;
    width:90vw;
    border-radius: 6px;
    font-size: 20px;
}

.nav__mobile{
    display :block;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:90vw;
}
.nav__mobile__logo{
    width: 9rem;
    /* align-self: center; */
    /* margin: 5px 10px; */
}

.nav__mobile__icon{
    width:25px;
    height:25px;
    cursor: pointer;
   
}


}