@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&family=Lato&family=Manrope&display=swap");

body {
  font-family: "Manrope", sans-serif;
  width: 100%;
  max-width: 100%;
}

.navbar-nav {
  margin-left: auto;
}

.nav-item,
.nav-btn {
  line-height: 30px;
  margin-left: 2em;
  color: #141414;
}

.code-faster {
  margin-top: 1.6em;
  font-weight: bolder;
  line-height: 1.6em;
  font-weight: 800 !important;
}

.blue-color {
  color: blue;
}
.fa-chevron-down {
  padding-bottom: 1em;
  padding-top: 0;
  font-size: larger;
}
.top-image {
  margin-top: 1.6em;
}

.custom-img {
  width: 35em;
  float: right;
  border-radius: 100px 10px 10px 10px;
  height: 25em;
}

.top-btn {
  margin-top: 1.5em;
  padding-left: 2em;
  padding-right: 2em;
}

.top-btn-right {
  margin-left: 0.5em;
}

.top-section {
  background-image: url("../Images/Frame208.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
}

.trust {
  font-weight: 600;
}

.featured {
  width: 6em;
  height: 6em;
  padding: 1em;
  /* margin: 4em 1em 0 1em; */
}

.hand1 {
  width: 6em;
  height: 5em;
}

.hand2 {
  width: 5em;
  height: 4em;
}

.hand3 {
  width: 4em;
  height: 4em;
}

.sixth-section {
  background: linear-gradient(
    to bottom,
    #111d55 0%,
    #111d55 50%,
    white 50%,
    white 100%
  );
  padding-bottom: 2em;
}

.footer-link {
  text-decoration: none;
  color: white;
}

.listed-links {
  list-style-type: none;
  padding: 1.5em;
  text-align: left;
}

.lesser-footer {
  list-style-type: none;
  color: white;
  text-decoration: none;
  padding: 1em;
  font-size: 13px;
}

section {
  display: none;
}

td {
  width: 4em;
  text-align: center;
}

table {
  margin: auto;
}

.contained-codes {
  border: none;
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.15);
}

.btn-interaction {
  background-color: white;
  border: none;
}

.popular-codes {
  /* padding: 2em; */
  margin-bottom: 1.2em;
}

.get-started-img {
  display: block;
  margin: auto;
  width: 11em;
  height: 11em;
  margin-bottom: 2.5em;
}

.row-number-3 {
  background-color: #f1f1f1;
  padding-bottom: 2em;
}
