*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.app{
    display: flex;
    min-height: 100vh;
}
.sidebar1{
    
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #111D55;
}
.sidebar1 .menu .tag{
    display: block;
    padding: 1em;
    transition: 0.2s linear;
}
.sidebar{
    
    flex: 1 1 0;
    max-width: 300px;
    padding: 2rem 1rem;
    background-color: #111D55;
}
.sidebar .menu .tag{
    display: block;
    padding: 1em;
    transition: 0.2s linear;
}
.ladder{
    width: 50px;
}
#head h3{
    font-weight: 100;
    margin-top: 10px;
}
#head1{
    display: none;
}
hr{
   color: white; 
}
.books, .users, .gear-six, .question, .sign{
    width: 30px;
}
#books{
    margin-top: 20px;
}
.tag{
    margin-top: 10px;
}
.tag a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    padding: .5em;
}
#tg{
    margin-top: 60px;
}
.sidebar .menu .tag:hover,
.sidebar .menu .tag.is-active{
    color: black;
    border-right: 5px solid white;
}
.content{
    flex: 1 1 0;
    padding: .1rem;
}
#nav1{
    margin-top: 5px;
    display: flex;
}
#nav{
    width: 100%;
    display: flex;
}
form.nosubmit {
    border: none;
    padding: 0;
}
   
input.nosubmit {
     border: 1px solid #555;
     border-radius: 8px;
     width: 200%;
     padding: 9px 4px 9px 40px;
     background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}
.sliders{
    position: relative;
    top: 1px;
    right: -235px;
    width: 35px;
    height: 6vh;
}
.bell{
    position: relative;
    width: 1.80em;
    height: 5vh;
    margin-top: 1px;
    right: -460px;
}
.ppix{
    height: 6vh;
    width: 35px;
    margin-top: 4px;
    margin-left: 500px;
    border-radius: 100px;
}
.user_name{
    margin-top: 5px;
    margin-left: 7px;
    font-size: 20px;
}
.menu-toggle {
    display: none;
    position: relative;
    top: 2rem;
    right: 2rem;
    width: 60px;
    height: 60px;
    border-radius: 99px;
    background-color: #fff;
    cursor: pointer;
}
.hamburger{
    position: relative;
    top: calc(50% - 2px);
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
}
.hamburger> span,
.hamburger> span::before,
.hamburger> span::after{
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 99px;
    background-color: #2e3047;
    transition-duration: .25s;
}
.hamburger> span::before{
    content: '';
    top: -8px;
}
.hamburger> span::after{
    content: '';
    top: 8px;
}
.menu-toggle.is-active .hamburger > span{
    transform: rotate(45deg);
}
.menu-toggle.is-active .hamburger > span::before{
    top: 0;
    transform: rotate(0deg);
}
.menu-toggle.is-active .hamburger > span::after{
    top: 0;
    transform: rotate(90deg);
}
#two-factor{
    width: 100%;
    display: flex;
    margin-top: 10px;
    background-image: linear-gradient(to right,#111D55 , rgb(227, 227, 217));
}
.Arrow{
    width: 20px;
}
.first-text{
    color: white;
    margin-left: 20px;
}
.two-one{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 48px;
    line-height: 1.0;
}
.two-two{
    margin-top: 0.8em;
    font-size: 15px;
}
.ratings{
    display: flex;
    margin-top: 15px;
}
.heart-main{
    width: 90px;
    display: flex;
}
.heart{
    height: 8vh;
    width: 40px;
    margin-top: 11px;
}
.num-one{
    font-size: 25px;
    margin-top: 12px;
    margin-left: 10%;
}
.save-main{
    width: 90px;
    display: flex;
}
.save{
    height: 7vh;
    width: 38px;
    margin-right: 100%;
    margin-top: 10px;
}
.num-two{
    font-size: 25px;
    margin-top: 10px;
    margin-left: -90%;
}
.comment-main{
    width: 10px;
    display: flex;
}
.commentt{
    height: 7vh;
    width: 110px;
    margin-top: 10px;
}
.num-three{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    margin-top: 10px;
    margin-left: -10%;
}
.section{
    display: flex;
    margin-top: 30px;
    margin-bottom: 15px;
}
.two-three{
    font-size: large;
    padding-right: 1em;
}
.two-four{
    font-size: large;
}
.drop{
    width: 15px;
}
.dropbtn {
    min-width: 194px;
    background-color: #111D55;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    margin-top: 10px;
    cursor: pointer;
  }
  
.dropdown {
    margin-top: -18px;
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 194px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;
}
.tech{
    margin-left: 15%;
}
.tech-image{
    margin-top: 10px;
    border-radius: 8px;
    width: 400px;
    height: 48vh;
}
.code-dis{
    background-color: #F1F1F1;
    width: 100%;
    padding: 3em;
}
.code-dis h3{
    margin-top: -20px;
    font-size: 30px;
    border-bottom: 16px;
}
.code-dis p{
    font-size: 20px;
    border-bottom: -16px;
}
.Example{
    background-color: white;
    padding: 3em;
    width: 100%;
}
.Example h3{
    margin-top: -20px;
    font-size: 30px;
    border-bottom: 16px;
}
.Example p{
    font-size: 20px;
    border-bottom: -16px;
}
.code{
    background-color: #F1F1F1;
    padding: 4em;
    width: 100%;
}
.code h3{
    margin-top: -20px;
    font-size: 30px;
    border-bottom: 16px;
}
.code p{
    font-size: 20px;
    border-bottom: -16px;
}
.code-area{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    margin-top: 15px;
    border-radius: 10px;
    background-color: #F1F1F1;
    width: 89.6%;
    padding: 3em;
    right: 1.3%;
    background-color: black;
}
.codded{
    color: white;
    font-size: 28px;
    padding: 1em;
    width: 80%;
    margin-left: -20px;
}
.copyd{
    display: flex;
    width: 100px;
    margin-left: 400px;
}
.copy{
    margin-top: -7px;
    width: 50px;
    cursor: pointer;
}
textarea{
    width: 100%;
    height: 30vh;
    border: solid 3px black;
    border-radius: 5px;
    margin-top: 25px;
}
.butt-com{
    margin-left: auto;
}
.butt{
    margin-top: 20px;
    margin-left: 690px;
    color: white;
    background-color: #3456FF;
    width: 150px;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}
.Comment{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
    background-color: white;
    width: 100%;
    padding: 4em;
    right: 1.7%;
}
.social{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #F1F1F1;
    padding: 4em;
    width: 100%;
}
.ppixt{
    width: 50px;
    border-radius: 50px;
}
.circle{
    position: relative;
    top: -15px;
    right: -35px;
    width: 13px;
    height: 2vh;
    border-radius: 12px;
    background-color: gainsboro;
    border: .5px;
}
.socialtt{
    width: 90%;
    position: relative;
    right: -90px;
    margin-right: 30%;
    top: -65px;
}
.socialtt h3{
    font-weight: 400;
}
.col{
    display: flex;
}
.heart-maint{
    display: flex;
    width: 10%;
    margin-left: 8%;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.heartt{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rep{
    position: relative;
    top: -5px;
    margin-top: -3px;
    color: #1A2B80;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.link{
    margin-top: 1px;
    height: 3vh;
    border-right: rgb(173, 172, 172) 2px solid;
    border-left: rgb(173, 172, 172) 2px solid;
    margin-left: 20px;
    margin-right: 10px;
}
.num-onet{
    margin-top:15px;
    margin-right: -30%;  
    margin-left: 10%;   
}
.hr{
    text-align: center;
    color: rgb(150, 144, 144);
    font-size: 20px;
}
hr{
    margin-top: 5%; 
 }
.socialtd{
    margin-top: 5%;
}
.ppixtt{
    width: 50px;
    height: 7.5vh;
    position: relative;
    top: 5px;
    left: 10px;
    border-radius: 50px;
}
.circlet{
    position: relative;
    top: -15px;
    right: -50px;
    width: 15px;
    height: 2vh;
    border-radius: 10px;
    background-color: rgb(119, 245, 119);
    border: .5px;
}
.socialtt{
    width: 90%;
    position: relative;
    right: -90px;
    margin-right: 30%;
    top: -65px;
}
.socialtt h3{
    margin-bottom: 20px;
    margin-top: 16px;
    font-weight: 400;
}
.col{
    display: flex;
}
.heart-maint{
    display: flex;
    width: 10%;
    margin-left: 8%;
    justify-content: center;
    align-items: center;
    height: 5vh;
}
.heartt{
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rept{
    position: relative;
    top: -5px;
    color: #1A2B80;
    font-size: 20px;
    text-decoration: none;
    margin-left: 10px;
    margin-right: 10px;
}
.link{
    margin-top: 5px;
    height: 3vh;
    border-right: rgb(173, 172, 172) 2px solid;
    border-left: rgb(173, 172, 172) 2px solid;
    margin-left: 20px;
    margin-right: 10px;
}
.num-onet{
    margin-right: -30%;  
    margin-left: 10%;   
}
.hr{
    text-align: center;
    color: rgb(150, 144, 144);
    font-size: 20px;
}
.footer{
    padding: 4em;
    width: 100%;
    background-color: #111D55;
    color: white;
}
.logof{
    display: flex;
    margin-left: 10%;
}
.logof h3{
    margin-top: 10px;
    font-weight: 100;
}
.under-bottom{
    margin-left: 75px;
    margin-bottom: -50px;
    margin-top: 65px;
    display: flex;
}
.privt{
    color: white;
    text-decoration: none;
    margin-left: 190px;
}
.tret{
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

@media (max-width: 1024px){
    .sidebar{
        max-width: 200px;
    }
    .books, .users, .gear-six, .question, .sign{
        max-width: 20px;
    }
    .tag a{
        font-size: 13px;
        text-decoration: none;
        color: white;
        padding: .5em;
    }
    #nav1, .code-dis, .Example, .code, textarea, .Comment, .social, .footer{
        width: 100%;
    }
    .sliders{
        top: 5px;
        right: -235px;
    }
    .bell{
        top: 5px;
        right: -310px;
    }
    .ppix{
        margin-left: 360px; 
    }
    #two-factor{
        width: 100%;
        margin-right: 30%;
    }
    .tech{
        margin-left: 15%;
    }
    .tech-image{
        margin-top: 10px;
        border-radius: 8px;
        width: 300px;
        height: 48vh;
        
    }
    .butt-com{
        margin-left: auto;
    }
    .butt{
        width: 40%;
        margin-top: 20px;
        margin-left: 190px;
        color: white;
        background-color: #3456FF;
        width: 150px;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    
    
}
@media (max-width: 768px){
    .menu-toggle{
        display: block;
        border-radius: 2px;
        top: 1rem;
        left: 43rem;
        display: block;
        width: 20px;
        height: 4vh;
    }
    #head1{
        margin-left: 250px;
        display: block;
        margin-top: 0px;
        width: 90%;
    }
    #head1 h3{
        color: #3456FF;
        margin-top: 10px;
    }
    #head1 .ladder{
        margin-left: 50px;
    }  
    #two-factor{
        display: block;
        background-image: linear-gradient(#111D55 , rgb(227, 227, 217));
        width: 100%;
        text-align: center;
    }
    .tech{
        margin-left: 70px;
    }
    .tech-image{
        margin-left: -5px;
        width: 400px;
        margin-bottom: 20px;
    }
    .ratings{
        margin-left: 245px;
    }
    .section{
        margin-left: 205px;
    }
    #two-factor, #head1, #nav1, .code-dis, .Example, .code, textarea, .Comment, .social, .footer{
        width: 100%;
    }
    input.nosubmit{
        display: none;
        max-width: 550px;
    }
    #nav1{
        margin-top: -150px;
    }
    .content{
        padding-top: 8rem;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 100%;
        max-width: 300px;
        transition: 0.2s linear;
    }
    .sidebar.is-active{
        left: 0;
    }
    .ppix{
        display: none;
    }
    .user_name{
        display: none;
    }
    .sliders{
        display: none;
        right: -250px;
    }
    .bell{
        margin-top: 7px;
        right: 465px;
    }
    
}
@media (max-width: 480px){
    .sliders{
        top: 6px;
        right: -245px;
    }
    #two-factor, #nav1, .code-dis, .Example, .code, textarea, .Comment, .social, .footer{
        width: 100%;
    }
    .download-ar{
        display: none;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 55%;
        max-width: 300px;
        transition: 0.2s linear;
    }
    .butt-com{
        margin-left: auto;
    }
    .butt{
        width: 40%;
        margin-top: 20px;
        margin-left: 190px;
        color: white;
        background-color: #3456FF;
        width: 150px;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
}
@media (max-width: 320px){
    .sliders{
        top: 3px;
        right: -200px;
    }
    #download, #two-factor, #nav1, .code-dis, .Example, .code, textarea, .Comment, .social, .footer{
        width: 100%;
    }
    .butt-com{
        margin-left: auto;
    }
    .butt{
        width: 40%;
        margin-top: 20px;
        margin-left: 190px;
        color: white;
        background-color: #3456FF;
        width: 150px;
        border: none;
        border-radius: 5px;
        padding: 10px;
        cursor: pointer;
    }
    #nav{
        margin-top: -10px;
    }
    .sidebar{
        position: fixed;
        top: 0;
        left: -300px;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        transition: 0.2s linear;
    }
}