{% load static %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign In | Auth Wiki</title>
		<link rel="stylesheet" href=" {% static 'user_auth/signup.css' %} " />
		<link
			href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="container">
			<div class="login_left">
				<div class="login_card">
					<h2>Sign In</h2>

          {% if user %}
          {{user}}
          {% endif %}

          {% if messages %}
          {% for message in messages %}
          <p{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</p>
          {% endfor %}
          {% endif %}

					<p>Fill in your details to login in your account</p>
					<form action="" method="post">
						{% csrf_token %}

						<label for="email">Email Address</label><br />
						<input
							type="email"
							name="email"
							id=""
							placeholder="name@email.com"
							required
						/><br />
						<label for="password">Password</label><br />
						<input
							type="password"
							name="password"
							placeholder="Enter your password"
							required
						/><br />
						<div class="forgot">
							<a href="{% url 'forgot-password' %}">Forgot Password?</a>
						</div>
						<input type="submit" value="Sign In" />

						<div class="hr_container">
							<hr />

							<p>or</p>

							<hr />
						</div>
						<button type="button">
							<img src="{% static 'user_auth/icons8-linkedin.svg' %}" alt="" />
							Continue with LinkedIn</button
						><br />
						<button type="button">
							<img src=" {% static 'user_auth/icons8-github.svg' %} " alt="" />
							Continue with Github
						</button>
						<p class="already">
							Don't have an account? <a href="{% url 'signup' %}">Sign Up</a>
						</p>
					</form>
				</div>
			</div>
			<div class="login_right">
				<img src="{% static 'user_auth/login_logo_white.png' %}" alt="" />
				<div class="login_intro">
					<div>
						<h2>Welcome back</h2>
						<p>Just one stop for all your authentication codes</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>

