{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up | Auth Wiki</title>
		<link rel="stylesheet" href="{% static 'user_auth/signup.css' %}" />
		<link
			href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="container">
			<div class="signup_left">
				<img src="{% static 'user_auth/login_logo_white.png' %}" alt="" />
				<div class="signup_intro">
					<div>
						<h2>Welcome to our community</h2>
						<p>Your new productive path begins here</p>
					</div>
				</div>
			</div>
			<div class="signup_right">
				<div class="signup_card">
					<h2>Let's get started</h2>

          {% if messages %}
          {% for message in messages %}
          <p{% if message.tags %} class="{{message.tags}}"{% endif %}>{{message}}</p>
          {% endfor %}
          {% endif %}

					<p>Sign Up to get all your authentication codes</p>
					<form action="" method="post">
						{% csrf_token %}
            {{signup_form}}
            <input type="submit" value="Sign Up" />

						<!-- <label for="username">Username</label><br />
						<input
							type="text"
							name="username"
							id=""
							placeholder="Username"
							required
						/><br />
						<label for="email">Email Address</label><br />
						<input
							type="email"
							name="email"
							id=""
							placeholder="name@email.com"
							required
						/><br />
						<label for="password">Password</label><br />
						<input
							type="password"
							name="password"
							placeholder="Create a password"
							required
						/><br />
						<label for="confirm-password">Confirm Password</label><br />
						<input
							type="password"
							name="confirm-password"
							placeholder="Confirm your password"
							required
						/><br />
						<input type="radio" name="tos" id="" value="agree" required />
						<label class="agree" for="tos"
							>By clicking "Sign Up" below you agree to our
							<a href=""> "Terms of Service"</a> and
							<a href="">Privacy Policy.</a></label
						>
						<br /> -->
						
						<div class="hr_container">
							<hr />

							<p>or</p>
							<hr />
						</div>
						<button type="button">
							<img src="{% static 'user_auth/icons8-linkedin.svg' %}" alt="" />
							Continue with LinkedIn</button
						><br />
						<button type="button">
							<img src="{% static 'user_auth/icons8-github.svg' %}" alt="" />
							Continue with Github
						</button>
						<p class="already">
							Already have an account? <a href="{% url 'signin' %}">Sign In</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

