{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Sign Up | Auth Wiki</title>
		<link rel="stylesheet" href="{% static 'user_auth/signup.css' %}" />

		<link
			href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css"
			rel="stylesheet"
		/>
	</head>

	<body>
		<div class="container">
			<div class="signup_left">
				<img src="{% static 'user_auth/login_logo_white.png' %}" alt="" />
				<div class="signup_intro">
					<div>
						<h2>Welcome to our community</h2>
						<p>Your new productive path begins here</p>
					</div>
				</div>
			</div>
			<div class="signup_right">
				<div class="signup_card">
					<h2>Let's get started</h2>

					{% for field in signup_form %} {% for error in field.errors %}
					<p class="error">{{error}}</p>
					{% endfor %} {% endfor %} {% if signup_form.non_field_errors %}
					<p class="error">{{signup_form.non_field_errors}}</p>
					{% endif %}

					<p>Sign Up to get all your authentication codes</p>
					<form action="" method="post">
						{% csrf_token %}

						<label for="username">Username</label><br />
						<input
							type="text"
							name="username"
							id=""
							class="form-control"
							placeholder="Username"
							required
							autofocus
						/><br />
						<label for="email">Email Address</label><br />
						<input
							type="email"
							name="email"
							id=""
							class="form-control"
							placeholder="name@email.com"
							required
						/><br />
						<label for="password">Password</label><br />
						<input
							type="password"
							name="password1"
							placeholder="Create a password"
							required
							class="form-control"
						/><br />
						<label for="confirm-password">Confirm Password</label><br />
						<input
							type="password"
							name="password2"
							placeholder="Confirm your password"
							required
							class="form-control"
						/><br />
						<input
							type="radio"
							name="tos"
							id=""
							value="agree"
							checked
							required
						/>
						<label class="agree" for="tos"
							>By clicking "Sign Up" below you agree to our
							<a href=""> "Terms of Service"</a> and
							<a href="">Privacy Policy.</a></label
						>
						<br />
						<input type="submit" value="Sign Up" />
						<div class="hr_container">
							<hr />

							<p>or</p>
							<hr />
						</div>
						<button type="button">
							<img src="{% static 'user_auth/icons8-linkedin.svg' %}" alt="" />
							Continue with LinkedIn</button
						><br />
						<button type="button">
							<img src="{% static 'user_auth/icons8-github.svg' %}" alt="" />
							Continue with Github
						</button>
						<p class="already">
							Already have an account? <a href="{% url 'signin' %}">Sign In</a>
						</p>
					</form>
				</div>
			</div>
		</div>
	</body>
</html>

