* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 21.2% 1fr;
}

/**************************************/
/*& HEADINGS */
/**************************************/

.heading-primary {
    font-size: 3rem;
}

.heading-secondary {
    font-size: 3.6rem;
    line-height: 1.2;
    margin-bottom: 1.6rem;
}

/**************************************/
/*? NAVIGATION BAR */
/**************************************/

.sidebar {
    position: relative;
    background-color: #111D55;
    color: #fcfcfc;
    height: 100%;
    padding: 2.4rem 2.4rem;
    border-right: 1px solid #fcfcfc;
}

.logo {
    margin-left: 0.2rem;
    width: 15rem;
}

.top-nav {
    margin-top: 4.4rem;
}

.bottom-nav {
    position: absolute;
    bottom: 12rem;
    left: 2.4rem;
    right: 2.4rem;
}

.main-nav-list {
    display: flex;
    flex-direction: column;
    gap: 7.2rem;
    list-style: none;
}

.main-nav-link:link, 
.main-nav-link:visited{
    display: flex;
    align-items: center;
    gap: 2.4rem;
    padding: 1rem;
    text-decoration: none;
    font-size: 2rem;
    color: #fcfcfc;
    transition: all 0.4s;
}

.main-nav-link:hover, 
.main-nav-link:active{
    background-color: #fcfcfc;
    color: #040404;
    border-radius: 4px;
}

.main-nav-link:hover .main-nav-icon, 
.main-nav-link:active .main-nav-icon{
    color: #111D55;
}


/**************************************/
/*~ MAIN BODY */
/**************************************/

/**************************************/
/*! HEADER */
/**************************************/

.header {
    background-color: #fcfcfc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 4.8rem;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}

.search-input-filter {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-box {
    position: relative;
    flex: 1;
}

.ph-sliders {
    font-size: 3.6rem;
    cursor: pointer;
}

.ph-magnifying-glass {
    position: absolute;
    top: 50%;
    left: 2.4rem;
    transform: translateY(-50%);
    color: #000;
    font-size: 2.1rem;
    cursor: pointer;
}

.search-input {
    height: 4.8rem;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #141414;;
    padding-left: 5.5rem;
    position: relative;
    font-size: 2rem;
}

.search-input:focus {
    outline: none;
    border: 1px solid #2B48D5;
}

::placeholder {
    color: #A99F9C;
    font-size: 2.1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

.ph-bell {
    font-size: 3.6rem;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.profile-picture {
    border-radius: 100%;
    width: 6.7rem;
}

.profile-name {
    font-size: 2.2rem;
}


/**************************************/
/*~ WELCOME SECTION */
/**************************************/

.welcome-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    background: linear-gradient(95.7deg, #111D55 37.36%, rgba(17, 29, 85, 0.5) 85.16%);
    padding: 1.2rem 6.4rem;
    color: #fcfcfc;
}

.welcome-description p {
    font-size: 2.2rem;
    line-height: 1.8;
}

.welcome-description h2 {
    margin-top: 6.8rem;
    line-height: 1.4;
}

.welcome-img-box {
    position: relative;
    width: 50rem;
    height: 40rem;
}

.welcome-img {
    position: absolute;
    width: 100%;
    height: 87%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 8px;
}

/**************************************/
/*^ INFORMATION SECTION*/
/**************************************/

.information-section {
    display: flex;
    align-items: center;
    gap: 10rem;
    padding: 10rem 18rem;
}

.information-section p{
    font-size: 2.2rem;
    line-height: 1.6;
}

.loud-speaker {
    width: 24.5rem;
}

.no-info {
    display: block;
    font-size: 3.2rem;
    font-weight: 600;
    margin-bottom: 0.6rem;
}






