* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: "Manrope", sans-serif;
	font-size: 16px;
	transition: all 0.3s ease;
}

html,
body {
	font-family: "Manrope", sans-serif;
	padding: 0px;
	margin: 0px;
	width: 100%;
	min-width: 320px;
	min-height: 100%;
	background-color: #f5f5f5;
	display: block;
	overflow-x: hidden;
}

.hide {
	display: none !important;
}

.wrapper {
	display: block;
	width: 90%;
	margin: 0px auto;
	padding: 0px;
	overflow: hidden;
}

.sidebar {
	display: none;
	transform: translateY(120%);
}

header {
	background-color: #fff;
	display: grid;
	place-items: center;
	width: 100%;
	height: 90px;
	position: relative;
}

header .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

figure {
	padding: 0px;
	margin: 0px;
	width: fit-content;
}

header .wrapper .navWrapper,
header .wrapper .navWrapper nav {
	width: fit-content;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 90px;
}

header .wrapper .navWrapper nav ul {
	list-style: none;
	width: fit-content;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

header .wrapper .navWrapper nav ul li {
	padding: 0px;
	margin: 0px 10px;
}

header .wrapper .navWrapper nav ul li a {
	padding: 15px 20px;
	text-decoration: none;
	color: #333;
	/* height: 90px; */
	display: flex;
	justify-content: center;
	align-items: center;
}

header .wrapper .navWrapper nav ul li a:hover {
	background-color: transparent;
	border: 1.5px solid #3456ff;
	color: #3456ff;
	border-radius: 7px;
}

/* header .wrapper .navWrapper nav ul li:last-child {
	display: none;
} */

header .wrapper .navWrapper nav ul li:nth-of-type(5) a {
	background-color: transparent;
	color: #3456ff;
	border-radius: 7px;
}

header .wrapper .navWrapper nav ul li:last-child a {
	background-color: #3456ff;
	color: #fff;
	border-radius: 7px;
}

header .wrapper .navWrapper nav ul li:last-child a:hover {
	background-color: transparent;
	border: 1.5px solid #3456ff;
	color: #3456ff;
}

header .wrapper .navWrapper .burgerWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

header .wrapper .navWrapper .burgerWrapper .ctaBtn2 button {
	outline: none;
	border: none;
	padding: 15px 20px;
	color: #fff;
	background-color: #3456ff;
	border-radius: 7px;
	cursor: pointer;
}

header .wrapper .navWrapper .burgerWrapper .ctaBtn2 button:hover {
	background-color: transparent;
	border: 1.5px solid #3456ff;
	color: #3456ff;
}

header .wrapper .navWrapper .burgerWrapper .burger {
	margin-left: 20px;
	cursor: pointer;
}

header .wrapper .navWrapper .burgerWrapper .burger section {
	width: 30px;
	height: 4px;
	background-color: #444;
	margin: 5px 0;
	border-radius: 5px;
}

header .wrapper .navWrapper .burgerWrapper .burger:hover section {
	background-color: #3456ff;
}

@keyframes navFadeIn {
	from {
		display: none;
		transition: all 0.3s ease-in;
		opacity: 0;
	}
	to {
		display: block;
		transition: all 0.3s ease-in;
		opacity: 1;
	}
}

@keyframes navFadeOut {
	from {
		display: block;
		transition: all 0.3s ease-in;
	}
	to {
		display: none;
		transition: all 0.3s ease-in;
	}
}

@keyframes navLinkFadeIn {
	from {
		transform: translateY(50px);
		opacity: 0;
	}
	to {
		transform: translateY(0px);
		opacity: 1;
	}
}

@keyframes navLinkFadeOut {
	from {
		transform: translateY(0px);
		opacity: 1;
	}
	to {
		transform: translateY(50px);
		opacity: 0;
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 7px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -7px);
}

.sidebar.nav-active {
	display: block;
	transform: translateY(0%);
	opacity: 1;
}

main {
	margin: 0px;
	padding: 0px;
}

main .hero {
	background-color: #fff;
}

main .hero .outerWrapper {
	background-image: url(images/Frame208.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
}

main .hero .outerWrapper .wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 80px 0px 120px 0;
	width: 90%;
}

main .hero .outerWrapper .wrapper .text {
	width: 46%;
}

main .hero .outerWrapper .wrapper .text h1 {
	font-size: 56px;
	font-weight: bolder;
}

main .hero .outerWrapper .wrapper .text h1 .blue-color {
	color: #3456ff;
	font-size: 56px;
	display: block;
	padding: 10px 0px;
}

main .hero .outerWrapper .wrapper .text p {
	font-size: 18px;
	letter-spacing: 1.2px;
	line-height: 32px;
	margin: 40px 0px;
}

main .hero .outerWrapper .wrapper figure {
	width: 47%;
	height: auto;
}

main .hero .outerWrapper .wrapper figure img {
	width: 100%;
	max-height: auto;
	border-radius: 80px 10px 10px 10px;
}

main .hero .outerWrapper .wrapper .heroBtnGrp {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

main .hero .outerWrapper .wrapper .heroBtnGrp a {
	width: 48.5%;
}

main .hero .outerWrapper .wrapper .heroBtnGrp a button {
	border: none;
	outline: none;
	padding: 12px 20px;
	background-color: #3456ff;
	color: #fff;
	border-radius: 7px;
	width: 100%;
}

main .hero .outerWrapper .wrapper .heroBtnGrp a:hover button {
	background-color: transparent;
	border: 1.5px solid #3456ff;
	color: #3456ff;
}

main .hero .outerWrapper .wrapper .heroBtnGrp a:last-child button {
	background-color: transparent;
	color: #3456ff;
}

main .hero .outerWrapper .wrapper .heroBtnGrp a:last-child button:hover {
	color: #333;
	border: none;
}

main .searchWrapper {
	background-color: #fff;
	padding-bottom: 50px;
	display: block;
	text-align: center;
}

main .searchWrapper .fa-chevron-down {
	display: block;
	margin: 15px auto;
	font-size: 29px;
}

main .searchWrapper form {
	width: 80%;
	margin: 0 auto;
}

main .searchWrapper form label input {
	width: 100%;
}

main .searchWrapper form label {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}

main .searchWrapper form label .fa-magnifying-glass {
	position: absolute;
	left: 20px;
}

main .searchWrapper form label .fa-sliders {
	position: absolute;
	right: 20px;
	cursor: pointer;
}

main .searchWrapper form label input {
	padding: 12px 50px;
	border: 1.5px solid #888;
	border-radius: 7px;
	outline: none;
}

main .searchWrapper form label:hover input,
main .searchWrapper form label:focus input {
	border: 2px solid #3456ff;
}

main .searchWrapper form label:hover .fa-solid,
main .searchWrapper form label:focus .fa-solid {
	color: #3456ff;
}

main .searchWrapper .wrapper .search-results-box {
	width: 70%;
	margin: 10px auto;
	padding: 20px;
	background-color: #fff;
	border-bottom-left-radius: 7px;
	border-bottom-right-radius: 7px;
	display: block;
	box-shadow: 0px 2px 4px 0px #999;
	transition: all 0.5s ease;
	border-bottom: 1.5px solid #3456ff;
}

main .searchWrapper .wrapper .search-results-box .item {
	text-decoration: none;
}

main .searchWrapper .wrapper .search-results-box .item section {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 0px;
	padding: 7px;
}

main .searchWrapper .wrapper .search-results-box .item section .image {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-color: #444;
	color: #fff;
	font-size: 24px;
}

main .searchWrapper .wrapper .search-results-box .item section .desc {
	display: block;
	text-align: left;
	color: #444;
	margin-left: 10px;
}

main .searchWrapper .wrapper .search-results-box .item section .desc h3 {
	font-size: 21px;
	margin-bottom: 7px;
}

main .searchWrapper .wrapper .search-results-box .item:hover {
	text-decoration: none;
}

main .searchWrapper .wrapper .search-results-box .item:hover section {
	background-color: #111d55;
	border-radius: 5px;
}

main .searchWrapper .wrapper .search-results-box .item:hover section .image {
	background-color: #3456ff;
	border-radius: 50%;
}

main .searchWrapper .wrapper .search-results-box .item:hover section .desc {
	color: #ddd;
}

main .searchWrapper .wrapper .search-results-box .item:hover section .desc h3 {
	font-size: 21px;
	margin-bottom: 7px;
	color: #fff;
}

main .customers {
	background-color: #111d55;
}

main .customers .wrapper {
	padding: 60px 0px;
	text-align: center;
	width: 80%;
}

main .customers .wrapper h4 {
	color: #fafafa;
	font-weight: bold;
}

/* main .customers .wrapper .customerLogos {} */

main .customers .wrapper .customerLogos {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 30px 0px 0px 0;
}

main .customers .wrapper .customerLogos figure {
	width: 12%;
	padding: 0px;
}

main .customers .wrapper .customerLogos figure img {
	width: 100%;
	padding: 0px;
	margin: 0px;
}

main .customers .wrapper .customerLogos figure figcaption {
	margin-top: 10px;
	color: #fafafa;
}

main .together {
	background-color: #fff;
}

main .together .wrapper {
	padding: 60px 0px;
	width: 70%;
}

main .together .wrapper h4 {
	color: #333;
	font-weight: bold;
	text-align: center;
}

main .together .wrapper .stepsWrapper {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}

main .together .wrapper .stepsWrapper .step {
	background-color: #f5f5f5;
	margin: 40px 0px 20px 0px;
	width: 25%;
}

main .together .wrapper .stepsWrapper .step .iconWrapper {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

main .together .wrapper .stepsWrapper .step .iconWrapper figure {
	width: 30%;
}

main .together .wrapper .stepsWrapper .step .iconWrapper figure img {
	width: 100%;
	max-height: auto;
}

main .together .wrapper .stepsWrapper .step .iconWrapper .step-count {
	display: block;
}

main .together .wrapper .stepsWrapper .step .iconWrapper .step-count h4 {
	color: #3456ff;
	text-align: left;
}

main .together .wrapper .stepsWrapper .step .iconWrapper .step-count h2 {
	font-size: 36px;
}

@media screen and (max-width: 1024px) {
	header .wrapper .navWrapper nav ul li {
		margin: 0px 5px;
	}

	header .wrapper .navWrapper nav ul li a {
		padding: 15px 10px;
		text-decoration: none;
		color: #333;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	main .hero .outerWrapper .wrapper .text h1,
	main .hero .outerWrapper .wrapper .text h1 .blue-color {
		font-size: 42px;
	}
}

@media screen and (max-width: 960px) {
	main .hero .outerWrapper .wrapper .text h1,
	main .hero .outerWrapper .wrapper .text h1 .blue-color {
		font-size: 32px;
	}

	main .hero .outerWrapper .wrapper .text h1 .blue-color {
		padding: 5px 0px;
	}

	main .hero .outerWrapper .wrapper .text p {
		font-size: 17px;
		line-height: 28px;
	}
}

@media screen and (max-width: 870px) {
	main .hero .outerWrapper .wrapper .text {
		width: 48%;
	}

	main .hero .outerWrapper .wrapper figure {
		width: 48%;
	}

	main .hero .outerWrapper .wrapper .text p {
		margin: 20px 0px;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp a {
		width: fit-content;
	}
}

@media screen and (max-width: 824px) {
	body {
		overflow: hidden;
	}

	header .wrapper .navWrapper .burgerWrapper {
		display: flex;
	}

	.sidebar {
		width: 35%;
		display: block;
		opacity: 0;
		position: absolute;
		top: 90px;
		right: 15px;
		padding: 30px;
		overflow: hidden;
		height: fit-content;
		background-color: #fff;
		border-bottom-left-radius: 10px;
		border-bottom-right-radius: 10px;
		border-bottom: 1.5px solid #3456ff;
		transform: translateY(120%);
	}

	.sidebar ul {
		list-style: none;
		width: fit-content;
		display: block;
		width: 95%;
		margin: 0px auto;
	}

	.sidebar ul li {
		padding: 0px;
		margin: 0px 10px;
	}

	.sidebar ul li a {
		padding: 15px 20px;
		text-decoration: none;
		color: #333;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.sidebar ul li a:hover {
		background-color: transparent;
		border: 1.5px solid #3456ff;
		color: #3456ff;
		border-radius: 7px;
	}

	.sidebar ul li:last-child a {
		background-color: #3456ff;
		color: #fff;
		border-radius: 7px;
	}

	.sidebar ul li:last-child a:hover {
		background-color: transparent;
		border: 1.5px solid #3456ff;
		color: #3456ff;
	}

	header .wrapper .navWrapper nav {
		display: none;
		/* transform: translateX(120%); */
	}
}

@media screen and (max-width: 768px) {
	.sidebar {
		width: 50%;
	}

	.sidebar ul {
		width: 90%;
		margin: 0px auto;
	}

	main .hero .outerWrapper {
		background-size: contain;
		background-repeat: repeat-y;
		background-position: top;
	}

	main .hero .outerWrapper .wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 80px 0px 120px 0;
	}

	main .hero .outerWrapper .wrapper .text {
		width: 100%;
		text-align: center;
		margin-bottom: 50px;
	}

	main .hero .outerWrapper .wrapper .text h1 {
		font-size: 56px;
		text-align: left;
		width: 100%;
	}

	main .hero .outerWrapper .wrapper .text h1 .blue-color {
		color: #3456ff;
		font-size: 56px;
		display: block;
		padding: 10px 0px;
	}

	main .hero .outerWrapper .wrapper .text p {
		font-size: 18px;
		letter-spacing: 1.2px;
		line-height: 32px;
		margin: 40px 0px;
		text-align: left;
	}

	main .hero .outerWrapper .wrapper figure {
		width: 100%;
		height: auto;
	}

	main .hero .outerWrapper .wrapper figure img {
		width: 100%;
		max-height: auto;
		border-radius: 80px 10px 10px 10px;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp {
		display: block;
		width: 100%;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp a {
		width: 100%;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp a button {
		border: none;
		outline: none;
		padding: 12px 20px;
		background-color: #3456ff;
		color: #fff;
		border-radius: 7px;
		width: 100%;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp a:hover button {
		background-color: transparent;
		border: 1.5px solid #3456ff;
		color: #3456ff;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp a:last-child button {
		background-color: transparent;
		color: #3456ff;
		margin-top: 20px;
	}

	main .hero .outerWrapper .wrapper .heroBtnGrp a:last-child button:hover {
		color: #333;
		border: none;
	}
}

@media screen and (max-width: 624px) {
	.sidebar {
		width: 75%;
	}

	.sidebar ul {
		width: 90%;
		margin: 0px auto;
	}
}

@media screen and (max-width: 568px) {
	main .hero .outerWrapper .wrapper .text h1,
	main .hero .outerWrapper .wrapper .text h1 .blue-color {
		font-size: 42px;
	}

	main .customers .wrapper .customerLogos figure {
		width: 30%;
		margin-top: 20px;
	}
}

@media screen and (max-width: 480px) {
	.sidebar {
		width: 94%;
	}

	.sidebar ul {
		width: 90%;
		margin: 0px auto;
	}

	main .hero .outerWrapper .wrapper .text h1,
	main .hero .outerWrapper .wrapper .text h1 .blue-color {
		font-size: 36px;
	}

	main .customers .wrapper .customerLogos figure {
		width: 35%;
		margin: 20px;
	}
}
