@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    overflow: hidden;
    font-family: 'Manrope', sans-serif;
}


.nav{
    background-color: #111D55;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: space-between;
   
}

.nav__top{
  
    display: flex;
    flex-direction: column;
   /* margin-left: auto; */
    /* align-items: center; */
}

.nav__top >img{
    width: 12rem;
    align-self: center;
    margin: 5px 10px;
}

hr{
    width: 100%;
    margin-top: 10px;
}

.nav__links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
   
    
}

.nav__link{
    align-self:flex-start;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 22px;
    margin-left: 2rem;
}


 .nav__link >.container{
    background-color: #fff;
    color: #040404;
    width: 100%;
    display: flex;
    justify-content: space-between;
   align-content: flex-start;
    align-items: center;
    padding: 0 8rem 0 0.5rem;
    height: 50px;
    border-radius: 3px;
    margin: 0;
    margin-left: -1rem;
    cursor: pointer;
   
}

 .nav__link >.container > a>h3{
    font-weight: 400;
    color: #040404;
}
 .nav__link >.container >a{
    text-decoration: none;
    color: #000;
}
 .nav__link >.container >i{
    color: #000;
    margin-right: 1rem;
    /* -webkit-text-stroke: 0px transparent; */
}


.nav__link >i{
    color: #fff;
    margin-right: 1rem;
    /* -webkit-text-stroke: 0px transparent; */
}

.nav__link >img{
    margin-right: 2rem;
}

.nav__link >a{
    text-decoration: none;
    color: #fff;
   
}
.nav__link >a >h3{
    font-weight: 300;

 
}

.nav__bottom{
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.content{
    flex: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


/* /////////////////////////////////////////////////// */
.main{
    width: 90%;
    margin: 0 auto;
}

.content__one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.content__one >div>h2{
   color: #141414;
   font-weight: 700;
}

.user{
    display: flex;
    align-items: center;
    justify-content: center;
}

.user >img{
    width: 1.5rem;
    margin-right: 1rem;
}
.user__container{
    background-color: #F1F1F1;
    padding: 0.5rem 1.5rem ;
    border-radius: 8px;
}

.user__img{
    background-image: url('https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    background-repeat: no-repeat;
    background-size:cover;
}

.user__details{
    display: flex;
    flex-direction: column;
    background-color:  #F9F9F9;
}

.user__info{
    display: flex;
}

.user__info__left {
    flex: 1;
    margin-top: 30px;
}

.user__info__left>h3{
    margin-bottom: 9px;
}
.user__info__left>p{
    font-size: 15px;
    padding-right: 3rem;
}

form{
    margin-top: 30px;
}

.form__input{
    display: flex;
    flex-direction: column;
    margin-bottom: 18px;
}
.form__input >label{
  margin-left: 1px;
  margin-bottom: 3px;
}

.form__input >input{
    height: 40px;
    outline: none;
    border: 1px solid #523F38;
    border-radius: 4px;
}

.user__info__right{
    flex: 1;
    margin-left: 5rem;
}

.user__info__right >h3{
    margin-top: 25px;
    margin-bottom: 25px;
}

.btn{
    width: 100%;
    padding: 10px 0;
    background-color: #3456FF;
    border: none;
    border-radius: 6px;
    color: #FCFCFC;
    /* font-weight: 600; */
font-size: 20px;
cursor: pointer;
}
.img__container{
    display: flex;
    justify-content: center;
    position: relative;
    /* width:200px; */
    /* padding: 0 50px; */
}

.inner__circle{
    position:absolute;
    top: 8rem;
    right: 9rem;
    background-color: #fff;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
    cursor: pointer;
}

.inner__circle >.outer__circle{
    position:absolute;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border: 3px solid #000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.07), 
    0 2px 4px rgba(0,0,0,0.07), 
    0 4px 8px rgba(0,0,0,0.07), 
    0 8px 16px rgba(0,0,0,0.07),
    0 16px 32px rgba(0,0,0,0.07), 
    0 32px 64px rgba(0,0,0,0.07);
}

.inner__circle >.outer__circle > i{
   display: flex;
   justify-content: center;
   align-items: center;
   -webkit-text-stroke: 3px white;
}

.img{
    width: 15rem;
    /* height: 15rem; */
/* padding: 0 2rem; */
    /* border-radius: 40%; */
}
.img >img{
    border-radius: 50%;
    width: 100%;
    background-repeat: no-repeat;
    background-size:cover;
}


.linked__accounts__header{
    margin-top: 70px;
}

.linked__accounts{
    display: flex;
    justify-content: space-between;
    margin-top: 45px;
    align-items: center;
}

.linked__accounts__socials{
    display: flex;
    justify-content: center;
    align-items: center;
}
.linked__accounts__socials >img{
    margin-right: 1rem;
}

.social__button{
    font-family: 'Manrope';
    font-weight: 600;
    padding: 0 1rem;
    height: 30px;
    border: none;
    background: #FCFCFC;
    gap: 4px;
    border: 1px solid #D0D0D0;
border-radius: 4px;
color: #3456FF;
font-size: 14px;
text-align: center;
}

@media (max-width:500px) {
   
    .nav__top >img{
        width: 9rem;
        align-self: center;
    }
}